.mensagem-visitante {
    margin-top: 20px;
}

article.sessao-professor-boas-vindas {
    margin-top: 30px;
}

.imagem-professor-boas-vindas {
    -webkit-box-shadow: 1px 0px 8px 6px rgba(9,10,8,0.49);
    box-shadow: 1px 0px 8px 6px rgba(9,10,8,0.49);
    margin-top: 30px;
    margin-bottom: 30px;
}

.imagem-professor-boas-vindas img {
    width: 100%;
    height: 10%;
    transition: 1s ease-in-out;
}

.imagem-professor-boas-vindas img:hover {
    opacity: 0.5;
}

.nome-professor, .nome-perfil {
    margin-bottom: 30px;
}