body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tabela-geral {
    -webkit-box-shadow: 1px 0px 8px 6px rgba(9,10,8,0.49);
    box-shadow: 1px 0px 8px 6px rgba(9,10,8,0.49);
}

.botao-basico {
    background-color: green;
    color: white;
    border: 0;
    padding: 20px;
    margin: 0px 10px 0px 0px;
}

.botao-voltar {
    background-color: black;
    color: white;
    border: 0;
    padding: 20px;
    margin: 0px 10px 0px 0px;
}

.lista-botoes {
    display: flex;
}